html {
  background-color: #f2f4f0;
}
body {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
}
h1, h1 strong {
  font-weight: 300;
}
pre, code {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  overflow-x: scroll;
}
strong {
  font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  font-weight: normal;
}
b strong {
  font-weight: bold;
}
a {
  color: inherit;
}
a[name]:not([name=""]) {
  color: gray;
}
blockquote {
  /* font-size: 85%; */
  font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
}
html { width: 100%; }
@media(min-width: 621px) {
  body {
    width: 600px;
    display: block;
    margin: 10px auto;
  }
}
@media(max-width: 600px) {
  body {
    width: calc(100% - 20px);
    margin: 10px;
  }
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('fonts/IBMPlexSans-ExtraLightItalic.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('fonts/IBMPlexSans-ExtraLight.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('fonts/IBMPlexSans-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('fonts/IBMPlexSans-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('fonts/IBMPlexSans-SemiBoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('fonts/IBMPlexSans-SemiBold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('fonts/IBMPlexSans-Italic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('fonts/IBMPlexSans-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('fonts/IBMPlexSansCondensed-ExtraLightItalic.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('fonts/IBMPlexSansCondensed-ExtraLight.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('fonts/IBMPlexSansCondensed-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('fonts/IBMPlexSansCondensed-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('fonts/IBMPlexSansCondensed-SemiBoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('fonts/IBMPlexSansCondensed-SemiBold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('fonts/IBMPlexSansCondensed-Italic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('fonts/IBMPlexSansCondensed-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'IBM Plex Serif';
  src: url('fonts/IBMPlexSerif-ExtraLightItalic.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Serif';
  src: url('fonts/IBMPlexSerif-ExtraLight.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'IBM Plex Serif';
  src: url('fonts/IBMPlexSerif-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Serif';
  src: url('fonts/IBMPlexSerif-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'IBM Plex Serif';
  src: url('fonts/IBMPlexSerif-SemiBoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Serif';
  src: url('fonts/IBMPlexSerif-SemiBold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'IBM Plex Serif';
  src: url('fonts/IBMPlexSerif-Italic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Serif';
  src: url('fonts/IBMPlexSerif-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('fonts/IBMPlexMono-ExtraLightItalic.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('fonts/IBMPlexMono-ExtraLight.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('fonts/IBMPlexMono-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('fonts/IBMPlexMono-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('fonts/IBMPlexMono-SemiBoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('fonts/IBMPlexMono-SemiBold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('fonts/IBMPlexMono-Italic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('fonts/IBMPlexMono-Regular.otf');
  font-weight: normal;
}
